* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: black;
}

html,
body,
#root {
	width: 100vw !important;
	height: 100vh !important;
	overflow: hidden;
}

body {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#root {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

canvas {
	width: 100% !important;
	height: 100% !important;
	touch-action: none;
}
